In [9]:
import requests
teams = ['Arsenal', 'Brighton', 'Chelsea', 'Crystal Palace', 'Everton',
       'Southampton', 'Watford', 'West Brom', 'Man United', 'Newcastle',
       'Swansea', 'Stoke', 'Burnley', 'Leicester', 'Bournemouth',
       'Liverpool', 'Huddersfield', 'Tottenham', 'Man City', 'West Ham',
       'Hamburg', 'Reading', 'Bochum', 'Ipswich', 'Millwall', 'Preston',
       'Sheffield United', 'Wigan', 'Bristol City', 'Brentford',
       'Greuther Furth', 'Regensburg', 'Birmingham', 'Magdeburg', 'Leeds',
       'Darmstadt', 'Heidenheim', 'Union Berlin', 'Hull', 'Dresden',
       "Nott'm Forest", 'Middlesbrough', 'St Pauli', 'Paderborn',
       'Ingolstadt', 'Aston Villa', 'Derby', 'Bolton', 'Norwich', 'QPR',
       'Sheffield Weds', 'Duisburg', 'Bielefeld', 'Blackburn',
       'Rotherham', 'Fulham', 'Wolves', 'Erzgebirge Aue', 'Holstein Kiel',
       'Sandhausen', 'FC Koln', 'Girona', 'Cadiz', 'Albacete', 'Betis',
       'Cardiff', 'Alcorcon', 'Cordoba', 'Elche', 'Lugo', 'Lazio',
       'Chievo', 'Barcelona', 'Celta', 'Villarreal', 'Mallorca',
       'Las Palmas', 'Oviedo', 'Zaragoza', 'Parma', 'Sassuolo', 'Torino',
       'Bologna', 'Empoli', 'Vallecano', 'Real Madrid', 'Eibar',
       'Atalanta', 'Gimnastic', 'Valencia', 'Ath Bilbao', 'Leganes',
       'Getafe', 'Bayern Munich', 'Extremadura UD', 'Malaga', 'Wolfsburg',
       'Werder Bremen', "M'gladbach", 'Hertha', 'Freiburg', 'Alaves',
       'Valladolid', 'Ath Madrid', 'Reus Deportiu', 'Fortuna Dusseldorf',
       'Juventus', 'Napoli', 'Numancia', 'Sevilla', 'Mainz', 'Espanol',
       'Dortmund', 'Almeria', 'Osasuna', 'Granada', 'Cagliari',
       'Frosinone', 'Genoa', 'Fiorentina', 'Spal', 'Udinese', 'Sp Gijon',
       'Inter', 'Rayo Majadahonda', 'Levante', 'Roma', 'Milan',
       'Hannover', 'Tenerife', 'Leverkusen', 'Hoffenheim',
       'Ein Frankfurt', 'Augsburg', 'Nurnberg', 'Stuttgart', 'Sampdoria',
       'RB Leipzig', 'Schalke 04', 'La Coruna', 'Huesca', 'Sociedad',
       'Osnabruck', 'Wehen', 'Luton', 'Karlsruhe', 'Barnsley', 'Charlton',
       'Santander', 'Pisa', 'Mirandes', 'Crotone', 'Salernitana',
       'Cittadella', 'Venezia', 'Virtus Entella', 'Ascoli',
       'Ponferradina', 'Perugia', 'Verona', 'Pordenone', 'Livorno',
       'Cremonese', 'Spezia', 'Benevento', 'Cosenza', 'Fuenlabrada',
       'Trapani', 'Lecce', 'Juve Stabia', 'Pescara', 'Brescia', 'Wycombe',
       'Coventry', 'Wurzburger Kickers', 'Castellon', 'Cartagena',
       'Monza', 'Logrones', 'Braunschweig', 'Reggiana', 'Reggina',
       'Vicenza', 'Sabadell', 'Hansa Rostock', 'Peterboro', 'Sociedad B',
       'Blackpool', 'Ternana', 'Ibiza', 'Amorebieta', 'Burgos', 'Como',
       'Alessandria', 'Kaiserslautern', 'Sunderland', 'Palermo', 'Modena',
       'Villarreal B', 'Bari', 'Sudtirol', 'Andorra', 'Plymouth',
       'Elversberg', 'FeralpiSalo', 'Catanzaro', 'Ferrol', 'Eldense',
       'Lecco', 'Ulm', 'Oxford', 'Preußen Münster', 'Portsmouth']
filtered_list = [item for item in teams if ' ' in item]
for i in teams:
    team = i
    url = f'http://api.clubelo.com/{team}'
    
    
    response = requests.get(url)
    
    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Save the CSV content to a local file
        with open(f'{team}.csv', 'wb') as file:
            file.write(response.content)
        print(f"{team} file downloaded successfully!")
    else:
        print(f"{team} file Failed to download. Status code: {response.status_code}")

Arsenal file downloaded successfully!
Brighton file downloaded successfully!
Chelsea file downloaded successfully!
Crystal Palace file downloaded successfully!
Everton file downloaded successfully!
Southampton file downloaded successfully!
Watford file downloaded successfully!
West Brom file downloaded successfully!
Man United file downloaded successfully!
Newcastle file downloaded successfully!
Swansea file downloaded successfully!
Stoke file downloaded successfully!
Burnley file downloaded successfully!
Leicester file downloaded successfully!
Bournemouth file downloaded successfully!
Liverpool file downloaded successfully!
Huddersfield file downloaded successfully!
Tottenham file downloaded successfully!
Man City file downloaded successfully!
West Ham file downloaded successfully!
Hamburg file downloaded successfully!
Reading file downloaded successfully!
Bochum file downloaded successfully!
Ipswich file downloaded successfully!
Millwall file downloaded successfully!
Preston file downloaded successfully!
Sheffield United file downloaded successfully!
Wigan file downloaded successfully!
Bristol City file downloaded successfully!
Brentford file downloaded successfully!
Greuther Furth file downloaded successfully!
Regensburg file downloaded successfully!
Birmingham file downloaded successfully!
Magdeburg file downloaded successfully!
Leeds file downloaded successfully!
Darmstadt file downloaded successfully!
Heidenheim file downloaded successfully!
Union Berlin file downloaded successfully!
Hull file downloaded successfully!
Dresden file downloaded successfully!
Nott'm Forest file Failed to download. Status code: 502
Middlesbrough file downloaded successfully!
St Pauli file downloaded successfully!
Paderborn file downloaded successfully!
Ingolstadt file downloaded successfully!
Aston Villa file downloaded successfully!
Derby file downloaded successfully!
Bolton file downloaded successfully!
Norwich file downloaded successfully!
QPR file downloaded successfully!
Sheffield Weds file downloaded successfully!
Duisburg file downloaded successfully!
Bielefeld file downloaded successfully!
Blackburn file downloaded successfully!
Rotherham file downloaded successfully!
Fulham file downloaded successfully!
Wolves file downloaded successfully!
Erzgebirge Aue file downloaded successfully!
Holstein Kiel file downloaded successfully!
Sandhausen file downloaded successfully!
FC Koln file downloaded successfully!
Girona file downloaded successfully!
Cadiz file downloaded successfully!
Albacete file downloaded successfully!
Betis file downloaded successfully!
Cardiff file downloaded successfully!
Alcorcon file downloaded successfully!
Cordoba file downloaded successfully!
Elche file downloaded successfully!
Lugo file downloaded successfully!
Lazio file downloaded successfully!
Chievo file downloaded successfully!
Barcelona file downloaded successfully!
Celta file downloaded successfully!
Villarreal file downloaded successfully!
Mallorca file downloaded successfully!
Las Palmas file downloaded successfully!
Oviedo file downloaded successfully!
Zaragoza file downloaded successfully!
Parma file downloaded successfully!
Sassuolo file downloaded successfully!
Torino file downloaded successfully!
Bologna file downloaded successfully!
Empoli file downloaded successfully!
Vallecano file downloaded successfully!
Real Madrid file downloaded successfully!
Eibar file downloaded successfully!
Atalanta file downloaded successfully!
Gimnastic file downloaded successfully!
Valencia file downloaded successfully!
Ath Bilbao file downloaded successfully!
Leganes file downloaded successfully!
Getafe file downloaded successfully!
Bayern Munich file downloaded successfully!
Extremadura UD file downloaded successfully!
Malaga file downloaded successfully!
Wolfsburg file downloaded successfully!
Werder Bremen file downloaded successfully!
M'gladbach file Failed to download. Status code: 502
Hertha file downloaded successfully!
Freiburg file downloaded successfully!
Alaves file downloaded successfully!
Valladolid file downloaded successfully!
Ath Madrid file downloaded successfully!
Reus Deportiu file downloaded successfully!
Fortuna Dusseldorf file downloaded successfully!
Juventus file downloaded successfully!
Napoli file downloaded successfully!
Numancia file downloaded successfully!
Sevilla file downloaded successfully!
Mainz file downloaded successfully!
Espanol file downloaded successfully!
Dortmund file downloaded successfully!
Almeria file downloaded successfully!
Osasuna file downloaded successfully!
Granada file downloaded successfully!
Cagliari file downloaded successfully!
Frosinone file downloaded successfully!
Genoa file downloaded successfully!
Fiorentina file downloaded successfully!
Spal file downloaded successfully!
Udinese file downloaded successfully!
Sp Gijon file downloaded successfully!
Inter file downloaded successfully!
Rayo Majadahonda file downloaded successfully!
Levante file downloaded successfully!
Roma file downloaded successfully!
Milan file downloaded successfully!
Hannover file downloaded successfully!
Tenerife file downloaded successfully!
Leverkusen file downloaded successfully!
Hoffenheim file downloaded successfully!
Ein Frankfurt file downloaded successfully!
Augsburg file downloaded successfully!
Nurnberg file downloaded successfully!
Stuttgart file downloaded successfully!
Sampdoria file downloaded successfully!
RB Leipzig file downloaded successfully!
Schalke 04 file downloaded successfully!
La Coruna file downloaded successfully!
Huesca file downloaded successfully!
Sociedad file downloaded successfully!
Osnabruck file downloaded successfully!
Wehen file downloaded successfully!
Luton file downloaded successfully!
Karlsruhe file downloaded successfully!
Barnsley file downloaded successfully!
Charlton file downloaded successfully!
Santander file downloaded successfully!
Pisa file downloaded successfully!
Mirandes file downloaded successfully!
Crotone file downloaded successfully!
Salernitana file downloaded successfully!
Cittadella file downloaded successfully!
Venezia file downloaded successfully!
Virtus Entella file downloaded successfully!
Ascoli file downloaded successfully!
Ponferradina file downloaded successfully!
Perugia file downloaded successfully!
Verona file downloaded successfully!
Pordenone file downloaded successfully!
Livorno file downloaded successfully!
Cremonese file downloaded successfully!
Spezia file downloaded successfully!
Benevento file downloaded successfully!
Cosenza file downloaded successfully!
Fuenlabrada file downloaded successfully!
Trapani file downloaded successfully!
Lecce file downloaded successfully!
Juve Stabia file downloaded successfully!
Pescara file downloaded successfully!
Brescia file downloaded successfully!
Wycombe file downloaded successfully!
Coventry file downloaded successfully!
Wurzburger Kickers file downloaded successfully!
Castellon file downloaded successfully!
Cartagena file downloaded successfully!
Monza file downloaded successfully!
Logrones file downloaded successfully!
Braunschweig file downloaded successfully!
Reggiana file downloaded successfully!
Reggina file downloaded successfully!
Vicenza file downloaded successfully!
Sabadell file downloaded successfully!
Hansa Rostock file downloaded successfully!
Peterboro file downloaded successfully!
Sociedad B file downloaded successfully!
Blackpool file downloaded successfully!
Ternana file downloaded successfully!
Ibiza file downloaded successfully!
Amorebieta file downloaded successfully!
Burgos file downloaded successfully!
Como file downloaded successfully!
Alessandria file downloaded successfully!
Kaiserslautern file downloaded successfully!
Sunderland file downloaded successfully!
Palermo file downloaded successfully!
Modena file downloaded successfully!
Villarreal B file downloaded successfully!
Bari file downloaded successfully!
Sudtirol file downloaded successfully!
Andorra file downloaded successfully!
Plymouth file downloaded successfully!
Elversberg file downloaded successfully!
FeralpiSalo file downloaded successfully!
Catanzaro file downloaded successfully!
Ferrol file downloaded successfully!
Eldense file downloaded successfully!
Lecco file downloaded successfully!
Ulm file downloaded successfully!
Oxford file downloaded successfully!
Preußen Münster file Failed to download. Status code: 502
Portsmouth file downloaded successfully!

In [69]:
filtered_list = [item for item in teams if ' ' in item]
no_space_list = [item.replace(' ', '') for item in filtered_list]

In [73]:
for i in no_space_list:
    team = i
    url = f'http://api.clubelo.com/{team}'
    
    
    response = requests.get(url)
    
    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Save the CSV content to a local file
        with open(f'{team}.csv', 'wb') as file:
            file.write(response.content)
        print(f"{team} file downloaded successfully!")
    else:
        print(f"{team} file Failed to download. Status code: {response.status_code}")

CrystalPalace file downloaded successfully!
WestBrom file downloaded successfully!
ManUnited file downloaded successfully!
ManCity file downloaded successfully!
WestHam file downloaded successfully!
SheffieldUnited file downloaded successfully!
BristolCity file downloaded successfully!
GreutherFurth file downloaded successfully!
UnionBerlin file downloaded successfully!
Nott'mForest file Failed to download. Status code: 502
StPauli file downloaded successfully!
AstonVilla file downloaded successfully!
SheffieldWeds file downloaded successfully!
ErzgebirgeAue file downloaded successfully!
HolsteinKiel file downloaded successfully!
FCKoln file downloaded successfully!
LasPalmas file downloaded successfully!
RealMadrid file downloaded successfully!
AthBilbao file downloaded successfully!
BayernMunich file downloaded successfully!
ExtremaduraUD file downloaded successfully!
WerderBremen file downloaded successfully!
AthMadrid file downloaded successfully!
ReusDeportiu file downloaded successfully!
FortunaDusseldorf file downloaded successfully!
SpGijon file downloaded successfully!
RayoMajadahonda file downloaded successfully!
EinFrankfurt file downloaded successfully!
RBLeipzig file downloaded successfully!
Schalke04 file downloaded successfully!
LaCoruna file downloaded successfully!
VirtusEntella file downloaded successfully!
JuveStabia file downloaded successfully!
WurzburgerKickers file downloaded successfully!
HansaRostock file downloaded successfully!
SociedadB file downloaded successfully!
VillarrealB file downloaded successfully!
PreußenMünster file Failed to download. Status code: 502

In [75]:
import pandas as pd
import numpy as np

In [77]:
def get_elo_for_team_on_date(team, match_date, df_elo):
    # Filter by team
    team_elo_data = df_elo[df_elo['Club'] == team]
    # Find the row where the match date is between 'From' and 'To'
    elo_row = team_elo_data[(team_elo_data['From'] <= match_date) & (team_elo_data['To'] >= match_date)]
    if not elo_row.empty:
        return elo_row['Elo'].values[0]
    return None
    
def find_elo_from_team_df(team, match_date, team_dfs):
    # Check if the team has a dataframe
    if team in team_dfs:
        team_df = team_dfs[team]
        # Filter the team_df by the date range
        team_elo = team_df[(team_df['From'] <= match_date) & (team_df['To'] >= match_date)]
        if not team_elo.empty:
            return team_elo['Elo'].values[0]
    return None

In [79]:
team_dfs = {}
for i in teams:
    try:
        team_dfs[i] =  pd.read_csv(f'{i}.csv')
    except:
        pass

In [175]:
h2h_data = pd.read_csv('h2h_data.csv')
h2h_data['Date'] = pd.to_datetime(h2h_data['Date'])

In [177]:

h2h_data['Date'] = pd.to_datetime(h2h_data['Date'])

for team_df in team_dfs.values():
    team_df['From'] = pd.to_datetime(team_df['From'])
    team_df['To'] = pd.to_datetime(team_df['To'])

# Initialize home_elo and away_elo columns
h2h_data['home_elo'] = None
h2h_data['away_elo'] = None

# Function to find the elo of a team from the corresponding team dataframe


# Iterate over each row in df1 to populate home_elo and away_elo columns
for index, row in h2h_data.iterrows():
    home_team = row['HomeTeam']
    away_team = row['AwayTeam']
    match_date = row['Date']

    # Get home team elo from the corresponding dataframe
    h2h_data.at[index, 'home_elo'] = find_elo_from_team_df(home_team, match_date, team_dfs)
    
    # Get away team elo from the corresponding dataframe
    h2h_data.at[index, 'away_elo'] = find_elo_from_team_df(away_team, match_date, team_dfs)

In [45]:

# team_elo = pd.read_csv('Brighton.csv')
# team_elo['From'] = pd.to_datetime(team_elo['From'])
# team_elo['To'] = pd.to_datetime(team_elo['To'])
# h2h_data['home_elo'] = h2h_data.apply(lambda row: get_elo_for_team_on_date(row['HomeTeam'], row['Date'], team_elo), axis=1)
# h2h_data['away_elo'] = h2h_data.apply(lambda row: get_elo_for_team_on_date(row['AwayTeam'], row['Date'], team_elo), axis=1)

In [178]:
h2h_data['home_elo'].fillna(1400, inplace = True)
h2h_data['away_elo'].fillna(1400, inplace = True)

C:\Users\ciesl\AppData\Local\Temp\ipykernel_13560\237163195.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  h2h_data['home_elo'].fillna(1400, inplace = True)
C:\Users\ciesl\AppData\Local\Temp\ipykernel_13560\237163195.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  h2h_data['home_elo'].fillna(1400, inplace = True)
C:\Users\ciesl\AppData\Local\Temp\ipykernel_13560\237163195.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  h2h_data['away_elo'].fillna(1400, inplace = True)
C:\Users\ciesl\AppData\Local\Temp\ipykernel_13560\237163195.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  h2h_data['away_elo'].fillna(1400, inplace = True)

In [205]:
v1 = pd.read_excel('eng_xlsx.xlsx')
v1[['Avg>2.5', 'Avg<2.5']].iloc[-10:].to_csv('over_under_1.csv',index = False)

In [199]:
h2h_data[['Avg>2.5', 'Avg<2.5']].iloc[-10:].to_csv('over_under_1.csv',index = False)

In [201]:
h2h_data[['Avg>2.5', 'Avg<2.5']].iloc[-10:]

       Avg>2.5  Avg<2.5
19047     1.35     3.20
19048     1.35     3.22
19049     1.48     2.66
19050     1.52     2.52
19051     1.59     2.37
19052     2.56     1.52
19053     1.41     2.81
19054     2.53     1.49
19055     2.54     1.52
19056     1.85     1.94

In [180]:
h2h_data['month'] = h2h_data['Date'].dt.month.astype(str)
h2h_data['year'] = h2h_data['Date'].dt.year.astype(str)

In [185]:
from Dataset_functions import *

In [187]:
h2h_data.drop(['over_2.5_goals',	'home_over_2.5_ratio',	'away_over_2.5_ratio'], inplace = True, axis = 1)

KeyError: "['over_2.5_goals', 'home_over_2.5_ratio', 'away_over_2.5_ratio'] not found in axis"

In [157]:
team_games = h2h_data.loc[(h2h_data['HomeTeam'] == teams[0])|(h2h_data['AwayTeam'] == teams[0])]

In [167]:
team_games['over_2_5_goals'] = (team_games['FTHG'] + team_games['FTAG']) > 2.5

C:\Users\ciesl\AppData\Local\Temp\ipykernel_13560\834713657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_games['over_2_5_goals'] = (team_games['FTHG'] + team_games['FTAG']) > 2.5

In [169]:
team_games

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,Away_h2h_Goals,Away_h2h_Points,home_elo,away_elo,month,year,over_2.5_goals,home_over_2.5_ratio,away_over_2.5_ratio,over_2_5_goals
0,E0,2017-08-11,Arsenal,Leicester,4,3,H,2.0,2.0,D,...,0.000000,0.000000,1848.286499,1716.994873,8,2017,True,0.000000,0.000000,True
11,E0,2017-08-19,Stoke,Arsenal,1,0,H,0.0,0.0,D,...,0.000000,0.000000,1662.232056,1855.389038,8,2017,False,0.000000,0.000000,False
27,E0,2017-08-27,Liverpool,Arsenal,4,0,H,2.0,0.0,H,...,0.000000,0.000000,1853.344727,1846.185059,8,2017,True,0.000000,0.000000,True
36,E0,2017-09-09,Arsenal,Bournemouth,3,0,H,2.0,0.0,H,...,0.000000,0.000000,1834.606934,1633.596313,9,2017,True,1.000000,0.000000,True
48,E0,2017-09-17,Chelsea,Arsenal,0,0,D,0.0,0.0,D,...,0.000000,0.000000,1922.439819,1843.913696,9,2017,False,0.500000,0.500000,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18741,E0,2024-05-12,Man United,Arsenal,0,1,A,0.0,1.0,A,...,1.692308,1.615385,1764.612671,1939.777100,5,2024,False,0.587786,0.553030,False
18813,E0,2024-05-19,Arsenal,Everton,2,1,H,1.0,1.0,D,...,1.000000,1.230769,1944.687622,1709.018311,5,2024,True,0.659091,0.492424,True
18928,E0,2024-08-17,Arsenal,Wolves,2,0,H,1.0,0.0,H,...,0.916667,0.916667,1946.879395,1677.831055,8,2024,False,0.661654,0.421053,False
18965,E0,2024-08-24,Aston Villa,Arsenal,0,2,A,0.0,0.0,D,...,1.300000,1.500000,1778.881226,1949.725342,8,2024,False,0.652542,0.548872,False
19031,E0,2024-08-31,Arsenal,Brighton,1,1,D,1.0,0.0,H,...,1.071429,1.285714,1956.910645,1737.636475,8,2024,False,0.656716,0.514925,False

In [189]:
h2h_data['over_2.5_goals'] = (h2h_data['FTHG'] + h2h_data['FTAG']) > 2.5


# Initialize columns for storing over 2.5 ratios
h2h_data['home_over_2.5_ratio'] = 0.0
h2h_data['away_over_2.5_ratio'] = 0.0

# Iterate through each row and calculate the over 2.5 ratios for home and away teams
for index, row in h2h_data.iterrows():
    # Home team matches prior to the current match
    home_team_matches = h2h_data[(h2h_data['HomeTeam'] == row['HomeTeam']) & (h2h_data['Date'] < row['Date'])]
    if len(home_team_matches) > 0:
        home_over_2_5_ratio = home_team_matches['over_2.5_goals'].mean()
    else:
        home_over_2_5_ratio = 0  # No prior matches

    # Away team matches prior to the current match
    away_team_matches = h2h_data[(h2h_data['AwayTeam'] == row['AwayTeam']) & (h2h_data['Date'] < row['Date'])]
    if len(away_team_matches) > 0:
        away_over_2_5_ratio = away_team_matches['over_2.5_goals'].mean()
    else:
        away_over_2_5_ratio = 0  # No prior matches

    # Assign the calculated ratios
    h2h_data.at[index, 'home_over_2.5_ratio'] = home_over_2_5_ratio
    h2h_data.at[index, 'away_over_2.5_ratio'] = away_over_2_5_ratio

In [193]:
h2h_data.loc[(h2h_data['HomeTeam'] == teams[0])|(h2h_data['AwayTeam'] == teams[0])][['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG','over_2.5_goals', 'home_over_2.5_ratio','away_over_2.5_ratio']].tail(10)

,HomeTeam,AwayTeam,FTHG,FTAG,over_2.5_goals,home_over_2.5_ratio,away_over_2.5_ratio
18395,Tottenham,Arsenal,2,3,True,0.570312,0.542636
18515,Arsenal,Everton,2,1,True,0.656489,0.500000
18572,Brighton,Arsenal,0,3,True,0.435115,0.546154
18664,Arsenal,Wolves,2,0,False,0.659091,0.421053
18700,Aston Villa,Arsenal,0,2,False,0.646552,0.549618
18766,Arsenal,Brighton,1,1,False,0.654135,0.515152
18795,Arsenal,Brentford,2,1,True,0.649254,0.500000
18847,Tottenham,Arsenal,0,0,False,0.575758,0.545455
18957,West Ham,Arsenal,0,6,True,0.533835,0.541353
19045,Man United,Arsenal,0,1,False,0.589552,0.544776

In [197]:
h2h_data.to_csv('h2h_data.csv', index = False)

In [171]:
h2h_data

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BFECAHH,BFECAHA,Home_h2h_Goals,Home_h2h_Points,Away_h2h_Goals,Away_h2h_Points,home_elo,away_elo,month,year
0,E0,2017-08-11,Arsenal,Leicester,4,3,H,2.0,2.0,D,...,0.00,0.00,0.000000,0.000000,0.000000,0.000000,1848.286499,1716.994873,8,2017
1,E0,2017-08-12,Brighton,Man City,0,2,A,0.0,0.0,D,...,0.00,0.00,0.000000,0.000000,0.000000,0.000000,1583.799805,1866.807007,8,2017
2,E0,2017-08-12,Chelsea,Burnley,2,3,A,0.0,3.0,A,...,0.00,0.00,0.000000,0.000000,0.000000,0.000000,1909.399658,1628.988403,8,2017
3,E0,2017-08-12,Crystal Palace,Huddersfield,0,3,A,0.0,2.0,A,...,0.00,0.00,0.000000,0.000000,0.000000,0.000000,1642.862427,1475.799316,8,2017
4,E0,2017-08-12,Everton,Stoke,1,0,H,1.0,0.0,H,...,0.00,0.00,0.000000,0.000000,0.000000,0.000000,1751.501343,1662.613770,8,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19042,D2,2024-09-01,Braunschweig,Karlsruhe,1,2,A,1.0,0.0,H,...,1.91,2.07,1.000000,1.333333,1.166667,1.333333,1377.544434,1553.081177,9,2024
19043,SP1,2024-09-01,Osasuna,Celta,3,2,H,2.0,1.0,H,...,2.21,1.81,1.000000,1.500000,1.000000,1.200000,1647.635742,1664.788086,9,2024
19044,SP1,2024-09-01,Sevilla,Girona,0,2,A,0.0,1.0,A,...,1.84,2.16,0.833333,0.500000,2.000000,2.500000,1669.578247,1791.693848,9,2024
19045,D2,2024-09-01,Paderborn,Ulm,0,0,D,0.0,0.0,D,...,2.01,1.96,0.000000,0.000000,0.000000,0.000000,1529.066895,1375.488770,9,2024
19046,SP1,2024-09-01,Alaves,Las Palmas,2,0,H,1.0,0.0,H,...,2.01,1.97,0.500000,0.750000,0.750000,1.500000,1653.232544,1590.289185,9,2024