In [15]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [11]:
premier_league_eason23_24 = pd.read_csv('E0.csv')

In [21]:
premier_league_eason23_24.drop(['HTHG','HTAG','HTR','Referee','BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD', 'MaxA','AvgH','AvgD',	'AvgA',	'B365>2.5',	'B365<2.5',	'P>2.5',	'P<2.5',	'Max>2.5',	'Max<2.5',	'Avg>2.5',	'Avg<2.5',	'AHh',	'B365AHH',	'B365AHA',	'PAHH',	'PAHA',	'MaxAHH',	'MaxAHA',	'AvgAHH',	'AvgAHA',	'B365CH',	'B365CD',	'B365CA',	'BWCH',	'BWCD',	'BWCA',	'IWCH',	'IWCD',	'IWCA',	'PSCH',	'PSCD',	'PSCA',	'WHCH',	'WHCD',	'WHCA',	'VCCH',	'VCCD',	'VCCA',	'MaxCH',	'MaxCD',	'MaxCA',	'AvgCH',	'AvgCD',	'AvgCA',	'B365C>2.5',	'B365C<2.5',	'PC>2.5',	'PC<2.5',	'MaxC>2.5',	'MaxC<2.5',	'AvgC>2.5',	'AvgC<2.5',	'AHCh',	'B365CAHH',	'B365CAHA',	'PCAHH',	'PCAHA',	'MaxCAHH',	'MaxCAHA',	'AvgCAHH',	'AvgCAHA' ], inplace =True, axis = 1)

In [23]:
premier_league_eason23_24

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,6,17,1,8,11,8,6,5,0,0,1,0,8.00,5.50,1.33
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,15,6,7,2,12,12,8,3,2,2,0,0,1.18,7.00,15.00
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,14,16,5,3,9,14,10,4,1,4,0,0,2.70,3.40,2.55
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,27,9,12,3,11,12,6,7,2,2,0,0,1.33,5.50,9.00
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,19,9,9,2,12,6,10,4,0,2,0,0,2.20,3.40,3.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,19/05/2024,16:00,Crystal Palace,Aston Villa,5,0,H,15,8,9,2,10,8,2,4,1,4,0,0,1.85,4.33,3.60
376,E0,19/05/2024,16:00,Liverpool,Wolves,2,0,H,36,4,14,3,14,11,10,2,1,1,0,1,1.17,8.00,15.00
377,E0,19/05/2024,16:00,Luton,Fulham,2,4,A,15,15,6,7,15,20,4,4,5,4,0,0,2.90,3.90,2.20
378,E0,19/05/2024,16:00,Man City,West Ham,3,1,H,28,3,12,2,3,12,11,2,0,1,0,0,1.08,12.00,21.00
379,E0,19/05/2024,16:00,Sheffield United,Tottenham,0,3,A,6,18,1,9,11,9,2,6,2,0,0,0,7.00,6.00,1.33

# co dodać
# wartość lineupów /suma wages zawodników?
# średnia zdobywanych/traconych bramek w sezonie/ostatnich meczach
# pozycja w tabeli
# podania
# posiadanie piłki
# forma